# Bytecode cache
__pycache__/
**/__pycache__/

# Python environment
.env
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# VS Code
.vscode/

# Docker artifacts
docker_mongo.txt

# System
.DS_Store
Thumbs.db
